<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="app/login/login.component.css">
</head>
<body>
<router-outlet>
<div id="header">
  <div>
    <div id="logo">
      <a href="/src/app/app.component.html"><img src="../images/logo.png" alt="Logo"></a>
    </div>
    <ul>
      <li class="home">
        <a href="home"><span>Home</span></a>
      </li>
      <li class="products">
        <a href="search"><span>Search</span></a>
      </li>
      <li class="about">
        <a href="profile"><span>My Profile</span></a>
      </li>
      <li class="blog current">
        <a href="login"><span>Login</span></a>
      </li>
    </ul>
  </div>
  <div>
    <span id="background"></span>
  </div>
</div>
<div id="body">
  <div>
    <div>
      <div>
        <div>
          <div>
            <div id="article">
                <h2>Login</h2>
                <form name="form">
                    <label>Username</label>
                    <input type="text" class="form-control" name="username"/>
                    <p><label>Password</label>
                    <input type="password" class="form-control" name="password"/></p>
                    <p><button [disabled]="loading" class="btn btn-primary">Login</button>
                    <button [disabled]="loading" class="btn btn-link">Register</button></p>
                </form>
            </div>
            <div id="sidebar">


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="footer">
  <div>
    <div>
      <h3>Blog</h3>
      <p>
        This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you&#39;re free to use this website template without linking back to us. If you&#39;re having problems editing this website template, then don&#39;t hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forums/">Forum</a>.
      </p>
    </div>
    <div>
      <h3>Get Social</h3>
      <ul>
        <li>
          <a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" id="googleplus">Google&#43;</a>
        </li>
        <li>
          <a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" id="twitter">Twitter</a>
        </li>
        <li>
          <a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" id="facebook">Facebook</a>
        </li>
      </ul>
    </div>
  </div>
  <p class="footnote">
    &copy; Copyright 2012. All rights reserved.
  </p>
</div>
</router-outlet>
</body>
</html>
