
<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
  <meta charset="UTF-8">
  <title>My Profile</title>
  <link rel="stylesheet" type="text/css" href="app/main.component.css">
</head>
<body>
<div id="header">
  <div>
    <span id="background-admin"></span>
  </div>
  <ul>
    <button (click)="toggleAddUser()">Add new user</button>
  </ul>
</div>
<div id="body">
  <div *ngIf="isUsers && !addUser">
    <div>
      <div>
        <div id="dynamicBody">
          <ul class="user">
            <li *ngFor="let user of users | paginate: { itemsPerPage: 10, currentPage: pageNumber }"
                [class.selected]="user === selectedUser"
                (click)="onSelect(user)">
              <h2><a [routerLink]="['//admin-user', user.username]">
                {{user.username}}
              </a></h2>
            </li>
          </ul>

          <pagination-controls (pageChange)="setPageNumber($event)"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!isUsers">
    <div>
      <div>
        <div id="dynamicBody2">
          <ul class="user">
            <!-- tmp val of 1 -->
            <li *ngFor="let user of users | paginate: { itemsPerPage: 10, currentPage: pageNumber }"
                [class.selected]="user === selectedUser"
                (click)="onSelect(user)">
              <a [routerLink]="['/product-details', user.username]">
                {{user.username}}
              </a>
            </li>
          </ul>

          <pagination-controls (pageChange)="setPageNumber($event)"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isUsers && addUser">
    <div class="col-md-6 col-md-offset-3" align="center">
      <form name="form" (ngSubmit)="f.form.valid && addNewUser()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstname.valid }">
          <label for="firstname">First Name</label>
          <input type="text" class="form-control" name="firstname" [(ngModel)]="model.firstname" #firstname="ngModel" required />
          <p style="color: red" *ngIf="f.submitted && !firstname.valid" class="help-block">First Name is required</p>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastname.valid }">
          <label for="lastname">Last Name</label>
          <input type="text" class="form-control" name="lastname" [(ngModel)]="model.lastname" #lastname="ngModel" required />
          <p style="color: red" *ngIf="f.submitted && !lastname.valid" class="help-block">Last Name is required</p>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
          <p style="color: red" *ngIf="f.submitted && !username.valid" class="help-block">Username is required</p>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
          <p style="color: red" *ngIf="f.submitted && !password.valid" class="help-block">Password is required</p>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
          <label for="email">Email</label>
          <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required />
          <p style="color: red" *ngIf="f.submitted && !email.valid" class="help-block">Email is required</p>
        </div>
        <div class="form-group">
          <label>Select role(s)</label>
          <select multiple name="roles" class="form-control" [(ngModel)]="model.userRoles">
            <option *ngFor="let role of roles">{{role.role}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>
            Activate Account
            <input type="checkbox" name="isActive" [(ngModel)]="model.enabled">
          </label>
        </div>
        <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">Add user</button>
          <button (click)="toggleAddUser()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="footer">
  <p class="footnote">
    &copy; Copyright 2017. All rights reserved.
  </p>
</div>
</body>
</html>
