
<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
  <meta charset="UTF-8">
  <title>My Profile</title>
  <link rel="stylesheet" type="text/css" href="app/main.component.css">
</head>
<body>
<div id="header">
  <div>
    <span id="background-admin"></span>
  </div>
</div>
<div id="body">
  <div *ngIf="isUsers">
    <div>
      <div>
        <div id="dynamicBody">
          <ul class="user">
            <li *ngFor="let user of users | paginate: { itemsPerPage: 10, currentPage: pageNumber }"
                [class.selected]="user === selectedUser"
                (click)="onSelect(user)">
              <h2><a [routerLink]="['//admin-user', user.username]">
                {{user.username}}
              </a></h2>
            </li>
          </ul>

          <pagination-controls (pageChange)="setPageNumber($event)"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!isUsers">
    <div>
      <div>
        <div id="dynamicBody2">
          <ul class="user">
            <!-- tmp val of 1 -->
            <li *ngFor="let user of users | paginate: { itemsPerPage: 10, currentPage: pageNumber }"
                [class.selected]="user === selectedUser"
                (click)="onSelect(user)">
              <a [routerLink]="['/product-details', user.username]">
                {{user.username}}
              </a>
            </li>
          </ul>

          <pagination-controls (pageChange)="setPageNumber($event)"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="footer">
  <p class="footnote">
    &copy; Copyright 2017. All rights reserved.
  </p>
</div>
</body>
</html>
