
<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
  <meta charset="UTF-8">
  <title>My Profile</title>
  <link rel="stylesheet" type="text/css" href="app/main.component.css">
</head>
<body>
<div id="header">
  <div>
    <span id="background-admin"></span>
  </div>
</div>
<div id="body">
  <div *ngIf="!edit">
    <div>
      <div>
        <div>
          <div>
            <div class="col-md-6 col-md-offset-3">
              <h2>User: {{model.firstname}}!</h2>
              <b>Your profile properties</b><br>
              <b>Username:</b> {{model.username}}<br>
              <b>First name:</b> {{model.firstname}}<br>
              <b>Last name:</b> {{model.lastname}}<br>
              <b>Email:</b> {{model.email}}<br>
              <b>Activated:</b> {{model.enabled}}<br>
              <b>Roles:</b> {{model.userRoles}}<br>
              <button (click)="toggleEdit()">Edit</button>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="edit">
    <div class="col-md-6 col-md-offset-3" align="center">
      <form name="form" (ngSubmit)="f.form.valid && updateProfile()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstname.valid }">
          <label for="firstname">First Name</label>
          <input type="text" class="form-control" name="firstname" [(ngModel)]="model.firstname" #firstname="ngModel"/>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastname.valid }">
          <label for="lastname">Last Name</label>
          <input type="text" class="form-control" name="lastname" [(ngModel)]="model.lastname" #lastname="ngModel"/>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
          <label for="email">Email</label>
          <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel"/>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
          <label for="password">Password</label>
          <input type="text" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required/>
          <p style="color: red" *ngIf="f.submitted && !password.valid" class="help-block">Password is required</p>
        </div>
        <div class="form-group">
          <label>Select role(s)</label>
          <select multiple name="roles" class="form-control" [(ngModel)]="model.userRoles">
            <option *ngFor="let role of roles">{{role.role}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>
            Activate Account
            <input type="checkbox" name="isActive" [(ngModel)]="model.enabled">
          </label>
        </div>
        <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="footer">
  <p class="footnote">
    &copy; Copyright 2017. All rights reserved.
  </p>
</div>
</body>
</html>
