<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Searching...</title>
  <link rel="stylesheet" type="text/css" href="app/main.component.css">
</head>
<body>
<div id="header">
  <div>
    <span id="background-search"></span>
  </div>
</div>
  <div id="body">
    <div>
      <div>
        <div>
          <div>
            <ul>
              <form>
                <input #textbox type="text" placeholder="Search query" >
                <input type="button" (click)=search(textbox.value) value="Search">
              </form>

              <ul class="ad">
                <!-- Would be great to import this functionality as a component -->
                <li *ngFor="let ad of list | paginate: { itemsPerPage: 20, currentPage: p }"
                    [class.selected]="ad === selectedAd"
                    (click)="onSelect(ad)">
                    <a [routerLink]="['/product-details', ad.adId]">
                    <img src="images/{{ad.adId}}.jpg" alt="Image" width="200">
                    {{ad.title}}
                    </a>
                </li>
              </ul>

              <pagination-controls (pageChange)="p = $event" *ngIf="list"></pagination-controls>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
