<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Searching...</title>
  <link rel="stylesheet" type="text/css" href="app/search/search.component.css">
</head>
<body>
<div id="header">
  <div>
    <span id="background-search"></span>
  </div>
</div>
  <div id="body">
    <div>
      <div>
        <div>
          <div>
            <ul>
              <form>
                <input #textbox type="text" placeholder="Search query" >
                <input type="button" (click)=search(textbox.value) value="Search">
              </form>
              <li *ngFor="let ad of list">
                title: {{ad.title}}
                date: {{ad.duration}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
