<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Toolbox Store</title>
  <link rel="stylesheet" type="text/css" href="app/home/home.component.css">
</head>
<body>
<div id="header">
  <div>
  </div>
  <div>
    <div id="figure">
      <div>
        <h1>{{title}}</h1>
        <h2>Spice up your life with tools</h2>
      </div>
    </div>
  </div>
</div>
<div id="body">
  <div>
    <div>
      <div>
        <div>
          <h1>Featured Products</h1>
          <h4>These are currently the top products</h4>
          <ul>
            <li>
              <a href="home"><img src="../images/headphone1.png" alt="Image"></a>
              <h2><a href="home">Product</a></h2>
            </li>
            <li>
              <a href="home"><img src="../images/headphone2.png" alt="Image"></a>
              <h2><a href="home">Product</a></h2>
            </li>
            <li>
              <a href="home"><img src="../images/headphone3.png" alt="Image"></a>
              <h2><a href="home">Product</a></h2>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="footer">
  <div>
    <div>
      <h3>Blog</h3>
      <p>
        This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you&#39;re free to use this website template without linking back to us. If you&#39;re having problems editing this website template, then don&#39;t hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forums/">Forums</a>.
      </p>
    </div>
    <div>
      <h3>Get Social</h3>
      <ul>
        <li>
          <a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" id="googleplus">Google&#43;</a>
        </li>
        <li>
          <a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" id="twitter">Twitter</a>
        </li>
        <li>
          <a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" id="facebook">Facebook</a>
        </li>
      </ul>
    </div>
  </div>
  <p class="footnote">
    &copy; Copyright 2012. All rights reserved.
  </p>
</div>
</body>
</html>
